apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: php-crud
spec:
  ports:
  - port: 3306
    targetPort: 3306
  selector:
    app: mysql
---
apiVersion: v1
kind: Service
metadata:
  name: php-crud
  namespace: php-crud
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: php-crud
